<section class="nav-section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light nav-bg">
      <a class="navbar-brand" href="/">
        <img
          src="../../../assets/images/dananzLogo.png"
          class="home-logo"
          alt="home-logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <button
        class="navbar-toggler ml-auto hidden-sm-up float-xs-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button> -->
      <div id="navbarSupportedContent" class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link"> About Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="services" routerLinkActive="active-link"> Services </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="teams" routerLinkActive="active-link"> Our Teams </a>
          </li>
          <li class="nav-item">
            <a class="nav-btn" routerLink="contact" routerLinkActive="active-link"> Contact Us </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
