<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img
          src="../../../assets/images/dananzLogo.png"
          class="footer-logo"
          alt="dananz"
        />
        <p class="furniture">One of the best furniture agency.</p>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <p class="footer-email">⚫️ Enter your email to get the latest news</p>
        <div class="footer-subscription">
          <input type="text" placeholder="Email address" />
          <i class="bi bi-arrow-right"></i>
        </div>
        <hr class="footer-line" />
        <div class="social-section ms-auto">
          <p>Follow us On</p>
          <a href="#">
            <img src="../../../assets/images/facebook.png" class="social-icon" alt="facebook-icon">
          </a>
          <a href="#">
            <img src="../../../assets/images/instagram.png" class="social-icon" alt="instagram-icon">
          </a>
          <a href="#">
            <img src="../../../assets/images/tiktok.png" class="social-icon" alt="tiktok-icon">
          </a>
          <a href="#">
            <img src="../../../assets/images/youtube.png" class="social-icon" alt="youtube-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
