<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Minimalist Room</h3>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="home-one">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="../../../assets/images/homeImg1.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
</section>
