<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Minimalist Room</h3>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="home-one">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img
          src="../../../assets/images/homeImg1.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section class="home-two">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-3">
        <h6>Project Overview</h6>
        <p>
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere. Online learning with us does not
          interfere with your daily life. because learning can be done anytime
          and anywhere.
        </p>
        <div style="display: flex; margin-top: 40px">
          <p style="margin-right: 70px">July 22 - 2022</p>
          <p>Interior Design - Furnitur</p>
        </div>
      </div>
      <div class="col-md-6 pt-3">
        <h6>Design Process</h6>
        <p>
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </p>
        <p>
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-3">
        <img class="img-fluid" src="../../../assets/images/homeImg2.png" alt="" />
      </div>
      <div class="col-md-6 pt-3">
        <img class="img-fluid" src="../../../assets/images/homeImg3.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pt-5 text-center ">
        <img class="img-fluid" src="../../../assets/images/homeImg4.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="home-three">
<div class="container">
<div class="row">
<div class="col-md-6">
<p>let's discuss making your interior like a dream place!</p>
</div>
<div class="col-md-6">
<div class="contact-section">
<p>Contact us below to work together to build your amazing interior</p>

</div>
</div>
</div>
</div>
</section>
